<app-drop-down [chosenItemsProp]="'name'"></app-drop-down>

<!--

- [pageSize]          Описание:             количество строк в выпадющем списке найденных элементов
                      Входной параметр:     number
                      Дефолтное значение:   5

- [displayProps]      Описание:             список свойств (столбцов), отображаемых в выпадающем списке
                      Входной параметр:     Array<string> | string
                      Разделители:          ' ', ',', ', ', ';', '; ', '.', '. '
                      Дефолтное значение:   все свойства приходящих объектов

- [chosenItemsProp]   Описание:             Одно свойство, значение которого будет в чипсе
                      Входной параметр:     string
                      Дефолтное значение:   первое свойство первого пришедшего элемента из списка элементов

- [placeholder]       Описание:             Фраза в случае, если ничего не выбрано
                      Входной параметр:     string
                      Дефолтное значение:   пустая запись

- [chipMaxLength]     Описание:             Максимальная длина фразы в чипсе
                      Входной параметр:     number
                      Дефолтное значение:   10

- [chipsEndsDots]     Описание:             Наличие троеточик, если содержание чипса превышает chipMaxLength
                      Входной параметр:     boolean
                      Дефолтное значение:   true

- [idField]           Описание:             Поле уникальных значений
                      Входной параметр:     string
                      Дефолтное значение:   'id'

-->
